{% extends "base_template.html" %}
{% load static %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="password-change-done-container futuristic-style">
    <h1>Password Changed Successfully</h1>
    <p>Your password has been updated.</p>
    <div class="form-actions">
        <a href="{% url 'game:account' %}" class="btn btn-primary futuristic-button">Back to Account</a>
    </div>
</div>
{% endblock %}

{% block extra_css %}
{# Styles are linked in base_template.html #}
{% endblock %}